# Build
bin/
obj/
publish/
out/

# Inno Setup output
installer-output/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# MSIX / packaging
*.appx
*.appxbundle
*.msix
*.msixbundle
AppPackages/
BundleArtifacts/

# Misc
*.log
